{
  "tabWidth": 2,
  "useTabs": false,
  "trimTrailingWhitespace": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "semi": false
}
